#root {
  max-width: 1280px;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.text_1 {
  font-family: "Rubik Glitch", system-ui;
}

.text_2 {
  font-family: "Archivo Black", sans-serif;
}

.text_3 {
   font-family: "Sigmar", sans-serif;
}

.text_4 {
  font-family: "Faster One", system-ui;
}

@media (min-width: 800px) {
  #allContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 99vw;
  }
  #evContainer {
    position: relative;
    width: 70%;
  }
}

.todo {
  opacity: 0;
  transform: translateX(-200px);
  transition: 800ms ease;
}

.todo.show {
  transform: translateX(0);
  opacity: 1;
}

.todo2 {
  opacity: 0;
  transform: translateX(-200px);
  transition: 820ms ease;
}

.todo2.show {
  transform: translateX(0);
  opacity: 1;
}

.todo3 {
  opacity: 0;
  transform: translateX(-200px);
  transition: 830ms ease;
}

.todo3.show {
  transform: translateX(0);
  opacity: 1;
}


.burguer {
  opacity: 0;
  transform: translateX(-100px);
  transition: 400ms ease;
}

.burguer.show {
  opacity: 1;
  transform: translateX(0);
}